@model Comp2007_Assignment1.Models.PLAYER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PLAYER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEAM.TEAM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEAM.TEAM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLAYER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLAYER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POINTS_PER_GAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POINTS_PER_GAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REBOUNDS_PER_GAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REBOUNDS_PER_GAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASSISTS_PER_GAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASSISTS_PER_GAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JERSEY_NUMBER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
